<%= stylesheet_link_tag "displaycss" %>
<h2 class="head">student_details</h2>
<div class="table">
<table class="table">
    <tr>
      <th>Name</th>
      <th>uniq_id</th>
      <th>Branch</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
<% @student_details.each do |student| %>
    <tr>
     <td>
     <%= student.Name%>
     </td>
     <td>
     <%= student.uniq_id%>
     </td>
     <td>
     <%= student.Branch%>
     </td>
     <td>
     <%= button_to "Delete", student, method: :delete %>
     </td>
     <td>
     <%= button_to "Edit", edit_student_detail_path(student), method: :get %>
     </td>
     </tr>
    <% end %>
</table>
<%= link_to "New student detail", new_student_detail_path %>


